[Unit]
Description=Calamares Uninstall Service
ConditionPathExists=!/run/archiso/bootmnt
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/calamares-uninstall.sh
ExecStartPost=/usr/bin/systemctl disable calamares-uninstall.service
RemainAfterExit=yes
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target