[Unit]
Description=Flatpak Initial Service
After=NetworkManager-wait-online.service systemd-udev-settle.service
Wants=NetworkManager-wait-online.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/sh -c '! grep -q "archisobasedir" /proc/cmdline'
ExecStart=flatpak remote-add --if-not-exists --user flathub https://dl.flathub.org/repo/flathub.flatpakrepo
ExecStartPost=/usr/bin/systemctl disable flathub-init.service
RemainAfterExit=yes
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target