[Desktop Entry]
Type=Application
Name=Install Kader⁴²
Exec=/usr/bin/bash /usr/bin/kader-install.sh
Icon=/etc/calamares/branding/kader42/images/logo.svg
Terminal=false
Categories=System;Installer;
X-KDE-Authorized-Link=true