[Unit]
Description=Kader42 KDE Rotation Sanity Fix
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/bin/kader-rotation-fix
RemainAfterExit=no
Restart=always

[Install]
WantedBy=plasma-kwin_wayland.target