[Unit]
Description=Kader⁴² welcome screen
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/bin/kader42-welcome.py
RemainAfterExit=no
Restart=always

[Install]
WantedBy=multi-user.target