[Unit]
Description=Kader⁴² Event Listener
Requires=iio-sensor-proxy.service
After=iio-sensor-proxy.service plasma-plasmashell.service

[Service]
Type=exec
ExecStartPre=/usr/bin/sleep 20
ExecStart=/usr/bin/bash /usr/bin/kader42-event-listener
Restart=always
RestartSec=3

[Install]
WantedBy=default.target