[Unit]
Description=Kader42 Tablet Mode Listener
After=graphical-session.target

[Service]
ExecStart=/usr/bin/bash /usr/bin/kader42-tablet-event-listener
Restart=always

[Install]
WantedBy=default.target