[Unit]
Description=Kader42 Tablet Mode Listener
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/bash /usr/bin/kader42-tablet-event-listener
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=graphical-session.target