[Unit]
Description=Kader42 Event Listener
Requires=iio-sensor-proxy.service
After=iio-sensor-proxy.service plasma-plasmashell.service

[Service]
Type=exec
ExecStartPre=/usr/bin/sleep 20
ExecStart=/usr/bin/kader42-tabletmode-watcher-passive
# Falls gdbus die Verbindung verliert (weil der Proxy neu startet):
Restart=always
RestartSec=3

[Install]
WantedBy=default.target