[Desktop Entry]
Type=Application
Name=Kader42 Event Listener
Comment=Toggles Dash/Menu and auto-rotation based on the mode
Exec=python /usr/bin/kader42-event-listener.py
Terminal=false
# Important: Prevents the system from aborting the startup if it takes a short while
StartupNotify=false
Categories=System;Monitor;
# Plasma-specific: Does not start until the base services are running
X-KDE-Autostart-Phase=1
# Prevents the listener from starting multiple times if the session is restored
X-KDE-Autostart-after=panel