[Desktop Entry]
Type=Application
Version=1.0
Name=Kader⁴² Software Center
Comment=Manage your installed software or install new software.
Exec=python /usr/bin/kader42-software-center.py
Icon=/usr/share/icons/mello.png
Terminal=false
Categories=System;PackageManager;Qt;
StartupNotify=true
X-KDE-FormFactor=tablet