[Unit]
Description=Kader42 Automatic System Updates Check Timer

[Timer]
# Prüft jede Minute, ob die eingestellte Update-Zeit erreicht ist
OnCalendar=*-*-* *:*:00
Persistent=true

[Install]
WantedBy=timers.target