[Desktop Entry]
Type=Application
Version=1.0
Name=Kader⁴² Software Center
Comment=Manage your installed software or install new software.
Comment[de]=Software-Verwaltung für Kader⁴²
Exec=/usr/bin/kader42-software-center %u
Icon=software-center-tray-icon
Terminal=false
Categories=System;PackageManager;Qt;
StartupNotify=true
X-KDE-FormFactor=tablet
MimeType=x-scheme-handler/appstream;