[Unit]
Description=Kader42 Automatic System Updates
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/yay -Syu --noconfirm